@charset "utf-8";

/*----- reset ----------------------------------*/

h1{
	margin : 0px;
}

ul{
	padding : 0px;
	margin : 0px;
}

li{
	display : block;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	margin:0px;
}

/*----- abstract style --------------------------*/

/*--------------component-----------------*/
.hidden{
	display:none;
	}

.btn{
	
}

.btn-default{
	background: #759d2a;
	min-width: 71px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	padding: 3px 8px;
	border-radius: 8px;
}

.btn-warning {
	
}

.btn-cancel{
	
}

/*-------------------------------*/


.hor-menu{
	display : inline-block;
}

.hor-menu > h1{
	display : none;
}

.hor-menu > ul{
	overflow : auto;
	overflow:: auto;
	width : 300px;
	
}

.hor-menu > ul > li{
	float : left;
}

.hor-menu.first-pad-none > ul > li:first-child 
{
	padding-left: 0px; 
	background : none;
}

/*----- header ----------------------------------*/

#header{
	height : 70px;
}

.main-menu{
	font-size : 15px;
	font-weight : bold;
	color : #000000;
}

.main-menu > ul > li{
	padding-left : 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;	
}

/* -----------------------------------------------------------------*/

.member-menu{
	font-family: "맑은 고딕", 고딕, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.member-menu > ul > li{
	padding-left : 9px;
	background: url("../images/bg-member-menu-sp.png") no-repeat 4px center;	
}

/* -----------------------------------------------------------------*/

#member-menu{

}

#member-menu > ul > li{
	padding-left : 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;	
}


/*----- visual ----------------------------------*/

#visual{
	height : 171px;
	/* background: #313131 url("../images/bg-visual.png") no-repeat center; */
	border-top : 3px solid #8CBA34;
}

#body{
	min-height : 300px;
	border-top: 5px solid #8CBA34;
	margin-top : 1px;
}

#body .root-container
{
	background:url("../images/bg-body.png") repeat-y center;
}

#footer{
	height : 100px;
	background: #313131;
}

.root-container{
	height: 100%;
	width: 960px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#body >.root-container{
	display:flex;
	flex-direction: row;	
}

#aside{
	background: url("../images/bg-aside-title.png") no-repeat left top;
	min-height: inherit;
	min-width: 205px;
	/* float: left; */
}

#main{
	padding : 45px 0px 40px 35px;
	box-sizing: border-box;'
	min-height: inherit;
	min-width: 755px;
	/* float: left; */
}

.clear-fix::after {
	display: block;
	clear: both;
	height: 0px;
	overflow: hidden;
}
